---
layout: dl-page
permalink: /devlog/
title: Dev Log
desc: An exploration of new technologies with demonstrations on how to use them
---

<section>
   <div class="container my-6" itemprop="articleBody">
      <div class="row">
         <div class="col-12 col-lg-10">
            <h1 class="display-2 mb-5">Featured</h1>
         </div>
      </div>
      <div class="row">
         <div class="col-12 col-lg-10">
            <h2>
               <a href="{% link _posts/devlog/2021-02-23-gamelift.html %}">What is GameLift and how to
               use it?</a>
            </h2>
            <p>An overview of GameLift features with tutorials</p>

            <h2>
               <a href="{% link _posts/devlog/2021-07-07-faq.html %}">FAQs</a>
            </h2>
            <p>A collection of GameLift, AWS, and Unity FAQs and troubleshooting</p>

             <h2>
               <a href="https://discord.gg/6Wr9y4jCS5" target="_blank">Discord Server</a>
            </h2>
            <p>If you're looking for some more help, feel free to join our Discord server and share any problems you may be facing.</p>

            <hr class="hr-secondary w-100 hr-md ml-0 my-5" />

         </div>
      </div>

      <div class="row">
         <div class="col-12 col-lg-10">
            <h1 class="display-4 mb-5">Article Stream</h1>
            {% assign devlogposts = site.posts | where: "categories", "devlog" %}
            {% for post in devlogposts %}
            {% unless post.draft %}
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.description }}
               <br />
               <small class="text-muted">
                  <strong>{{ post.date | date: "%B %e, %Y" }}</strong> | {% for cat in post.categories %} {{cat}} {% endfor %}
               </small>
            </p>
            {% endunless %}

            {% endfor %}
         </div>
      </div>

   </div>

</section>