<section class="bg-primary" id="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading">We've got what you need!</h2>
            <p class="text-faded">We can help you develop and launch your ideas with the latest technology</p>
            <hr class="light">
            
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2">
            <p>Featured Consulting Services</p>
            <ul>
                <li>System Architecture and Design</li>
                <li>API Service Development</li>
                <li>Product Development (Backend)</li>
                <li>Web Application Development (Frontend)</li>
                <li>Android and iOS Application Development</li>
                <li>Cloud Based Production Deployment</li>
                <li>System, Feature, or Product Integration</li>
                <li>Technical Support</li>

            </ul>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="#contact" class="btn btn-default btn-xl">Get Started!</a>
         </div>
      </div>
   </div>
</section>