<!-- ======== @Region: #content ======== -->
<div id="content" class="p-0 bg-white">
   <!-- about -->
   <div id="about" class="py-4 pt-md-6 py-md-5 py-md-5 bg-op-5 bg-white ">
      <div class="container w-100 w-lg-70">
         <div class="row my-2">
            <div class="col-lg-6 d-sm-flex ">
               <img class="card-img-top img-fluid" src="assets/img/index-technology/vision.jpg" alt="Card image cap">
            </div>
            <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center ">
               <div class="mr-auto py-0 pl-lg-5 my-3 my-md-0 ">
                  <h2 class="display-4 roboto-thin mt-3 mt-lg-0">
                  Our Vision And Philosophy
                  </h2>
                  <p class="line-height-30 py-md-2 op-7">
                     With our lean team of engineers we keep things focused. We don't believe productivity is limited to an
                     office of cubicles. We seek those who enjoy living life while making a living. Collaborating
                     from anywhere in the world, we seek the best talent to ensure the job is done quickly
                     and correctly.
                  </p>
                  <p class="py-md-2 op-7"> Having an entire remote workforce means you're getting exactly what you requested without
                     any extra overhead. We strive to capture your vision and produce real results.
                  </p>
                  <a href="#services" data-scroll-link-nooffset=true data-toggle="scroll-link" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">See Our Services</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="services" class="py-4 pt-md-6 py-md-5 bg-primary-faded bg-op-1">
   <div class="container text-center w-100 w-lg-70 ">
      <h2 class="h1 font-weight-bold my-0 text-primary roboto-thin ">
        Featured Consulting Services
      </h2>
      <h5 class="h5 font-weight-normal my-0 op-5">
        03
      </h5>
      <div class="row mt-3 mt-md-5 ">
         <div class=" col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-cube icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              System Architecture and Design
            </h4>
               <p class="op-7">We'll help you sort out your ideas into manageable elements</p>
            </div>
         </div>
         <div class=" col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-ios-cloud icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
               Cloud Deployment
            </h4>
               <p class="op-7">Production quality cloud environments</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-flash icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
               <h4 class="mt-2">
              Product Development
            </h4>
               <p class="op-7">Custom software development for your needs</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-laptop icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              Web Application Development
            </h4>
               <p class="op-7">Includes frontend and supporting API service development</p>
            </div>
         </div>
         <div class="col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-iphone icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
              Android and iOS Application Development
            </h4>
               <p class="op-7">Design, build, and publish to the mobile app stores</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-gear-b icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
               <h4 class="mt-2">
              System, Feature, or Product Integration
            </h4>
               <p class="op-7">Integrate two or more products to work together</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-settings icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              Technical Support
            </h4>
               <p class="op-7">We'll help you troubleshoot and solve issues with your system or product</p>
            </div>
         </div>
         <div class="col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-pricetags icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
              Payment Processing
            </h4>
               <p class="op-7">Accept payments through your web or mobile application</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="card border-0 w-100 ">
               <div class="px-4 py-4 ">
                  <p class="mt-3 op-7 ">Or if you just looking for some help, please get in touch!
                  </p>
                  <a href="#contact" data-scroll-link-nooffset=true data-toggle="scroll-link" class="mb-1 py-3 px-4 btn btn-block btn-primary btn-shadow btn-flat btn-bold text-uppercase text-letter-spacing rounded-0">Get Started</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div id="projects" class="py-4 pt-md-6 py-md-6 bg-white bg-op-1">
   <div class="container w-100 w-lg-70">
      <h2 class="h1 font-weight-bold my-0 text-primary roboto-thin text-center">
        Latest Projects
      </h2>
      <h5 class="h5 font-weight-normal my-0 op-5 text-center ">
        04
      </h5>
      <div class="row mt-3 mt-md-5 ">
         <div class="col-lg-6 d-sm-flex ">
            <img class="card-img-top img-fluid mt-3 mt-lg-0" src="assets/img/index-technology/project-1.jpg" alt="Card image cap">
         </div>
         <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center ">
            <div class="pl-lg-5 my-3 my-md-0">
               <h2 class="display-4 roboto-thin mt-3 mt-lg-0">
              Haxspot
            </h2>
               <p class="py-lg-2 op-7">
                  Haxspot provides a medium for anyone to list their extra parking space and generate income while providing
                  parking room for those in a need. For example, in a busy cities, downtowns and event
                  locations, there are big problems finding parking. If people living around the nearby
                  areas can open up their private spaces for others to park, it solves parking problem
                  and also generates extra income.
               </p>
               <p class="py-lg-2 op-7">Haxspot was a multi-part project that included developing a mobile app that deployed to
                  both iOS and Android along with supporting APIs.</p>
               <a href="http://haxspot.com" target="_blank" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">See More</a>
            </div>
         </div>
      </div>
      <div class="row flex-row-reverse">
         <div class="col-lg-6 d-sm-flex ">
            <img class="card-img-top img-fluid mt-3 mt-lg-0" src="assets/img/index-technology/project-2.jpg" alt="Card image cap">
         </div>
         <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center ">
            <div class="ml-auto pr-lg-5 my-3 my-md-0 ">
               <h2 class="display-4 roboto-thin mt-3 mt-lg-0">
              Social Gaming Platform
            </h2>
               <p class="py-md-2 op-7">
                  This platform enables gamers to compete for cash through skill based games. This is a multi-tier cloud
                  system built up of various services.
               </p>
               <p class="py-md-2 op-7"> If you are interested in learning more we can setup a private demo.</p>
            </div>
         </div>
      </div>
   </div>
</div>
</div>