<!-- ======== @Region: #content ======== -->
<div id="content" class="p-0 bg-white">
   <!-- about -->
   <div id="about" class="py-4 pt-md-6 py-md-5 py-md-5 bg-op-5 bg-white ">
      <div class="container w-100 w-lg-70">
         <div class="row my-2">
            <div class="col-lg-6 d-sm-flex ">
               <img class="card-img-top img-fluid" src="assets/img/index-technology/vision.jpg" alt="Card image cap">
            </div>
            <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center ">
               <div class="mr-auto py-0 pl-lg-5 my-3 my-md-0 ">
                  <h2 class="display-4 roboto-thin mt-3 mt-lg-0">
                Our vision And Philosophy
              </h2>
                  <p class="line-height-30 py-md-2 op-7">
                     We strive make sure you see results.  We work with you to translate your vision into key progress achievements.
                     <p>
                        <p class="py-md-2 op-7"> Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no.
                           Veniam postea labitur qui et, in esse labore reprimique sit.</p>
                        <a href="#services" data-scroll-link-nooffset=true data-toggle="scroll-link" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">See Our Services</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="services" class="py-4 pt-md-6 py-md-5 bg-primary-faded bg-op-1">
   <div class="container text-center w-100 w-lg-70 ">
      <h2 class="h1 font-weight-bold my-0 text-primary roboto-thin ">
        Our Services
      </h2>
      <h5 class="h5 font-weight-normal my-0 op-5">
        03
      </h5>
      <div class="row mt-3 mt-md-5 ">
         <div class=" col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-ios-briefcase-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              Business & Consulting
            </h4>
               <p class="op-7">Fixed headers are fairly common owadays with</p>
            </div>
         </div>
         <div class=" col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-ios-paperplane-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
              Interface Design
            </h4>
               <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class=" ion-ios-bolt-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
               <h4 class="mt-2">
              Seo Services
            </h4>
               <p class="op-7"> Fixed headers are fairly common nowadays with</p>
            </div>
         </div>
      </div>
      <div class="row ">
         <div class="col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-ios-email-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              Email Marketing
            </h4>
               <p class="op-7">Fixed headers are fairly common owadays with</p>
            </div>
         </div>
         <div class="col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-ios-gear-outline icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
              Development
            </h4>
               <p class="op-7">Fixed headers are fairly common nowadays with</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="card border-0 w-100 ">
               <div class="px-4 py-4 ">
                  <p class="mt-3 op-7 ">Eos dictas verear facilisi id, an idque corrumpit scribentur nec, pro at meis iuvaret
                     scribentur.
                  </p>
                  <a href="#contact" data-scroll-link-nooffset=true data-toggle="scroll-link" class="mb-1 py-3 px-4 btn btn-block btn-primary btn-shadow btn-flat btn-bold text-uppercase text-letter-spacing rounded-0">Get Started</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<div id="projects" class="py-4 pt-md-6 py-md-6 bg-white bg-op-1">
   <div class="container w-100 w-lg-70">
      <h2 class="h1 font-weight-bold my-0 text-primary roboto-thin text-center">
        Latest Projects
      </h2>
      <h5 class="h5 font-weight-normal my-0 op-5 text-center ">
        04
      </h5>
      <div class="row mt-3 mt-md-5 ">
         <div class="col-lg-6 d-sm-flex ">
            <img class="card-img-top img-fluid mt-3 mt-lg-0" src="assets/img/index-technology/project-1.jpg" alt="Card image cap">
         </div>
         <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center ">
            <div class="pl-lg-5 my-3 my-md-0">
               <h2 class="display-4 roboto-thin mt-3 mt-lg-0">
              Haxspot
            </h2>
               <p class="py-lg-2 op-7">
                  Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire,
                  idque expetenda vix ea.
                  <p>
                     <p class="py-lg-2 op-7"> Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no.
                        Veniam postea labitur qui et, in esse labore reprimique sit.</p>
                     <a href="http://haxspot.com" target="_blank" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">See More</a>
            </div>
         </div>
      </div>
      <div class="row flex-row-reverse">
         <div class="col-lg-6 d-sm-flex ">
            <img class="card-img-top img-fluid mt-3 mt-lg-0" src="assets/img/index-technology/project-2.jpg" alt="Card image cap">
         </div>
         <div class="col-lg-6 d-sm-flex align-content-center d-flex align-items-center ">
            <div class="ml-auto pr-lg-5 my-3 my-md-0 ">
               <h2 class="display-4 roboto-thin mt-3 mt-lg-0">
              Social Gaming Platform
            </h2>
               <p class="py-md-2 op-7">
                  Viderer erroribus scribentur id ius. Nec at autem scripserit, mei case nonumy eu. Eum in labore invenire,
                  idque expetenda vix ea.
                  <p>
                     <p class="py-md-2 op-7"> Ex duo novum antiopam, case reque eripuit in vel. Nam ancillae contentiones no.
                        Veniam postea labitur qui et, in esse labore reprimique sit.</p>
                     <a href="#" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">See More</a>
            </div>
         </div>
      </div>
   </div>
</div>
</div>