<!-- ======== @Region: #content ======== -->
<div id="game" class="pb-4 bg-white">
   <div class="bg-dark text-white p-6 p-lg-4 text-center divider-arrow divider-arrow-t divider-dark">
      <div class="container">
         <h2 class="text-center font-weight-bold my-0" data-animate="fadeIn" data-animate-duration="2">
            <a class="text-white" href="/devlog/">Checkout the latest technical blog 
               <span style="color: #24b14d !important;">@BatteryAcidDev</span></a>
         </h2>
         <h5 class="text-center font-weight-normal mt-2 mb-0 text-white op-5">
            An exploration of AWS, Unity, and other technologies.
         </h5>
      </div>
   </div>
</div>

<div class="py-md-6 my-6 bg-white">
   <div class="bg-op-5 bg-white ">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 mt-4 order-lg-1 order-12">
               <img class="card-img-top img-fluid" src="assets/img/gaming.jpg" alt="Card image cap">
               <small>Photo by <a target="_blank" href="https://unsplash.com/@hellolightbulb">@hellolightbulb</a>
                           on <a target="_blank" href="https://unsplash.com">Unsplash</a></small>
            </div>
            <div class="col-lg-6 order-lg-12 order-1 d-sm-flex align-content-center d-flex">
               <div class="mr-auto py-0 my-3 my-md-0 ">
                  <h2 class="display-4 roboto-thin mt-3 mt-lg-0 py-0">
                     Get your game online!
                  </h2>
                  <p class="line-height-30 py-md-2 op-7 mt-4">
                     If you have a game that is ready for multiplayer functionality, then we've got
                     you covered. We specialize in bringing games online through various
                     technologies.
                  </p>
                  <p class="py-md-2 op-7">
                     Our team can help you select the right approach tailored to your game type for
                     multiplayer engagement. Scalability, latency, user management, and security
                     are critical to a successful game play experience. Whether your game is for
                     mobile or desktop, we can help bring it to life.
                  </p>
                  <p class="py-md-2 op-7">Feel free to reach out to us if you have any questions.
                     If you're trying to tackle it yourself, you can always drop by our Discord for
                     some help:
                     <a href="https://discord.gg/6Wr9y4jCS5" target="_blank">https://discord.gg/6Wr9y4jCS5
                        <i class="fas fa-external-link-alt"></i></a></p>
                  <a href="#contact" data-scroll-link-nooffset=true data-toggle="scroll-link" class="mb-1 py-2 px-4 btn btn-primary btn-shadow btn-flat btn-sm btn-bold text-uppercase text-letter-spacing rounded-0">Get
                     Started</a>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <p>
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- hor-1 -->
                  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5904710579836948"
                     data-ad-slot="7169108385" data-ad-format="auto" data-full-width-responsive="true"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="services" class="py-6 bg-primary-faded bg-op-1">
   <div class="container text-center w-100 w-lg-70 ">
      <h2 class="h1 font-weight-bold my-0 text-primary roboto-thin ">
        Featured Consulting Services
      </h2>
      <h5 class="h5 font-weight-normal my-0 op-5">
        Full stack engineering and cloud services
      </h5>
      <div class="row mt-3 mt-md-5 ">
         <div class=" col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-cube icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              System Architecture and Design
            </h4>
               <p class="op-7">We'll help you sort out your ideas into manageable elements</p>
            </div>
         </div>
         <div class=" col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-ios-cloud icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
               Cloud Deployment
            </h4>
               <p class="op-7">Production quality cloud environments</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-ios-lightbulb icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
               <h4 class="mt-2">
              Product Development
            </h4>
               <p class="op-7">Custom end-to-end software development for your requirements</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-laptop icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              Web Application Development
            </h4>
               <p class="op-7">Includes frontend and supporting API service development</p>
            </div>
         </div>
         <div class="col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-iphone icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
              Android and iOS Application Development
            </h4>
               <p class="op-7">Design, build, and publish to the mobile app stores</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-gear-b icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.3"></i>
               <h4 class="mt-2">
              System, Feature, or Product Integration
            </h4>
               <p class="op-7">Integrate two or more products to work together</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 pr-md-0 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-settings icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.1"></i>
               <h4 class="mt-2">
              Technical Support
            </h4>
               <p class="op-7">We'll help you troubleshoot and solve issues with your system or
                  product</p>
            </div>
         </div>
         <div class="col-md-4 d-sm-flex align-content-center ">
            <div class="p-4 card border-0 w-100">
               <i class="ion-pricetags icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
               <h4 class="mt-2">
              Payment Processing
            </h4>
               <p class="op-7">Accept payments through your web or mobile application</p>
            </div>
         </div>
         <div class="col-md-4 pl-md-0 d-sm-flex align-content-center ">
            <div class="card border-0 w-100 ">
               <div class="p-4 card border-0 w-100">
                  <i class="ion-flash icon-3x text-primary" data-animate="fadeIn" data-animate-delay="0.2"></i>
                  <h4 class="mt-2">
                     Business Technical Solutions
                  </h4>
                  <p class="op-7">Internal software including CRM, EMR, or any management tools</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row justify-content-center">
         <div class="col-6 col-md-3">
            <a href="#contact" data-scroll-link-nooffset=true data-toggle="scroll-link" class="mb-1 py-3 px-4 btn btn-block btn-primary btn-shadow btn-flat btn-bold text-uppercase text-letter-spacing rounded-0">Get
               Started</a>
         </div>
      </div>
   </div>
</div>

<div id="team" class="pb-4 bg-white">
   <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-t divider-dark">
      <div class="container">
         <hr class="hr-lg mt-0 mb-2 w-10 mx-auto hr-primary" />
         <h2 class="text-center text-uppercase font-weight-bold my-0" data-animate="fadeIn" data-animate-duration="2">
            30-minute consultation for $50
          </h2>
         <h5 class="text-center font-weight-normal mt-2 mb-0 text-white op-5">
            One of our engineers will help you get started in the right direction
          </h5>
      </div>
   </div>
</div>

<div id="projects" class="my-6 bg-white bg-op-1">
   <div class="container">
      <h2 class="h1 font-weight-bold my-0 text-primary roboto-thin text-center">
        Project Portfolio
      </h2>
      <h5 class="h5 font-weight-normal my-0 op-5 text-center ">
        A snapshot of recent projects
      </h5>

      <div class="row my-4">
         <div class="col-lg-12">
            <div class="p-md-4 mt-4 pos-relative">
               <div class="row">
                  <div class="col-12">
                     <h2 class="display-4 roboto-thin mt-3 mt-lg-0 text-left">
                        TetherTap
                     </h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6 mt-3 mt-lg-0 order-lg-1 order-12">
                     <h4 class="text-primary">
                        A secure platform for your digital address book
                     </h4>
                     <p class="py-lg-2 op-7">
                        The TetherTap platform seeks to provide a frictionless solution for users
                        to maintain their address book. The market is very saturated with similar
                        apps but the downside is that they all use 3rd-party technologies where
                        your data is sold somewhere along the way.
                     </p>
                     <p class="py-lg-2 op-7">With TetherTap we wanted to develop a new way for
                        users to securely share their information and maintain the accuracy of
                        their digital address book for many years to come.</p>
                     <p class="py-lg-2 op-7">
                        Our work was also an integral part of TetherTap's patent submission for the
                        novel
                        methodology in secure address book management.
                     </p>
                     <dl class="row text-sm">
                        <dt class="col-sm-3"><i class="la la-calendar"></i> Date:</dt>
                        <dd class="col-sm-9">2019 - 2020</dd>
                        <dt class="col-sm-3"><i class="la la-tags"></i> Category:</dt>
                        <dd class="col-sm-9">Mobile, Cloud Technologies</dd>
                     </dl>
                  </div>
                  <div class="col-lg-6 order-lg-12 order-1">
                     <div class="owl-carousel owl-nav-over owl-nav-over-lg" id="portfolio-project"
                        data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'>
                        <img src="assets/img/tethertap.png" alt="Project 1" class="img-fluid" />
                        <img src="assets/img/tt-1.jpg" alt="Project 2" class="img-fluid" />
                        <img src="assets/img/tt-2.jpg" alt="Project 3" class="img-fluid" />
                        <img src="assets/img/tt-3.jpg" alt="Project 4" class="img-fluid" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row my-4">
         <div class="col-lg-12">
            <div class="p-md-4 mt-4 pos-relative">
               <div class="row">
                  <div class="offset-lg-6 col-lg-6">
                     <h2 class="display-4 roboto-thin mt-3 mt-lg-0 text-left">
                        HAXSPOT
                     </h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6">
                     <div class="owl-carousel owl-nav-over owl-nav-over-lg" id="portfolio-project"
                        data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'>
                        <img src="assets/img/haxspot.jpg" alt="Project 1" class="img-fluid" />
                        <img src="assets/img/haxspot-store.jpg" alt="Project 2" class="img-fluid" />
                        <img src="assets/img/hs-map.jpg" alt="Project 3" class="img-fluid" />
                        <img src="assets/img/hs-details.jpg" alt="Project 4" class="img-fluid" />
                        <img src="assets/img/hs-sv.jpg" alt="Project 5" class="img-fluid" />
                        </a>
                     </div>
                  </div>
                  <div class="col-lg-6 mt-3 mt-lg-0">
                     <h4 class="text-primary">
                     A mobile platform for city parking services
                     </h4>
                     <p class="py-lg-2 op-7">
                        Haxspot provides a medium for anyone to list their extra parking space and
                        generate income while providing parking room for those in a need. For
                        example,
                        in
                        a busy city, downtown and event locations, there are big problems finding
                        parking. If people living around the nearby areas can open up their private
                        spaces for others to park, it solves parking problem and also generates
                        extra
                        income.
                     </p>
                     <p class="py-lg-2 op-7">Haxspot was a multi-part project that included
                        developing
                        a mobile app that deployed to both iOS and Android along with supporting
                        APIs.</p>
                     <dl class="row text-sm">
                        <dt class="col-sm-3"><i class="la la-calendar"></i> Date:</dt>
                        <dd class="col-sm-9">2014 - 2018</dd>
                        <dt class="col-sm-3"><i class="la la-tags"></i> Category:</dt>
                        <dd class="col-sm-9">Mobile, Web, Cloud Platform</dd>
                     </dl>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row my-4">
         <div class="col-lg-12">
            <div class="p-md-4 mt-4 pos-relative">
               <div class="row">
                  <div class="col-12">
                     <h2 class="display-4 roboto-thin mt-3 mt-lg-0 text-left">
                        Gaming Platform
                     </h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6 mt-3 mt-lg-0 order-lg-1 order-12">
                     <h4 class="text-primary">
                        Massive skill gaming platform for competitive cash play
                     </h4>
                     <p class="py-lg-2 op-7">
                        With over a million lines of code written for this platform, it enables
                        gamers to compete for cash through skill-game tournaments. Built with an
                        array of various technologies, this multi-tier cloud system is designed to
                        scale and support a world wide market.
                     </p>
                     <p class="py-lg-2 op-7">Please use the contact form if you are interested in
                        learning more.</p>
                     <dl class="row text-sm">
                        <dt class="col-sm-3"><i class="la la-calendar"></i> Date:</dt>
                        <dd class="col-sm-9">2014 - 2020</dd>
                        <dt class="col-sm-3"><i class="la la-tags"></i> Category:</dt>
                        <dd class="col-sm-9">Web, Cloud Platform, Systems</dd>
                     </dl>
                  </div>
                  <div class="col-lg-6 order-lg-12 order-1">
                     <div class="owl-carousel owl-nav-over owl-nav-over-lg" id="portfolio-project"
                        data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":false, "dots":false}}}'>
                        <img src="assets/img/game.jpg" alt="Project 1" class="img-fluid" />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row my-4">
         <div class="col-lg-12">
            <div class="p-md-4 mt-4 pos-relative">
               <div class="row">
                  <div class="offset-lg-6 col-lg-6">
                     <h2 class="display-4 roboto-thin mt-3 mt-lg-0 text-left">
                        Professional Website
                     </h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6">
                     <div class="owl-carousel owl-nav-over owl-nav-over-lg" id="portfolio-project"
                        data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'>
                        <img src="assets/img/empath.jpg" alt="Project 1" class="img-fluid" />
                        <img src="assets/img/sa.jpg" alt="Project 2" class="img-fluid" />
                        <img src="assets/img/csc.jpg" alt="Project 3" class="img-fluid" />
                     </div>
                  </div>
                  <div class="col-lg-6 mt-3 mt-lg-0">
                     <h4 class="text-primary">
                     Professional quality websites for businesses
                     </h4>
                     <p class="py-lg-2 op-7">
                        We build professional websites that are laser focused on getting results.
                        With SEO as a first class citizen, our sites top the search results.
                        Whether
                        you’re a business or individual, we tailor the experience to ensure users
                        find what they are looking for.
                     </p>
                     <p class="py-lg-2 op-7">
                        We also offer color palette design for your brand to ensure your website
                        and marketing material are consistent.
                     </p>
                     <dl class="row text-sm">
                        <dt class="col-sm-3"><i class="la la-calendar"></i> Date:</dt>
                        <dd class="col-sm-9">Ongoing Support</dd>
                        <dt class="col-sm-3"><i class="la la-tags"></i> Category:</dt>
                        <dd class="col-sm-9">Web, Cloud Technologies</dd>
                     </dl>
                  </div>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>

<div id="tech" class="bg-white">
   <div class="bg-dark text-white p-3 p-lg-4 text-center divider-arrow divider-arrow-t divider-dark">
      <div class="container">
         <div class="row">
            <div class="col-12">
               <ul class="list-inline op-8">
                  <li class="list-inline-item p-md-3 my-2"><i class="fab fa-aws fa-4x mx-3"></i></li>
                  <li class="list-inline-item p-md-3 my-2"><i class="fab fa-node fa-4x mx-3"></i></li>
                  <li class="list-inline-item p-md-3 my-2"><i class="fab fa-angular fa-4x mx-3"></i></li>
                  <li class="list-inline-item p-md-3 my-2"><i class="fab fa-java fa-4x mx-3"></i></li>
                  <li class="list-inline-item p-md-3 my-2"><i class="fab fa-js fa-4x mx-3"></i></li>
                  <li class="list-inline-item p-md-2 my-2"><img src="assets/img/playframework-icon.png"
                        class="playfwimg" /></li>
                  <li class="list-inline-item p-md-3 my-2"><i class="fab fa-bootstrap fa-4x mx-3"></i></li>
               </ul>

               <h5 class="text-center font-weight-normal mt-2 mb-0 text-white op-5">
                  Solutions through modern technologies
               </h5>

            </div>
         </div>
      </div>
   </div>
</div>

<div id="branding" class="py-4 py-md-6 bg-primary-faded bg-op-1">
   <div class="bg-op-5">
      <div class="container">
         <div class="row py-6">

            <div class="col-lg-6 order-lg-1 order-12">
               <div class="owl-carousel owl-nav-over owl-nav-over-lg" id="portfolio-project"
                  data-toggle="owl-carousel" data-owl-carousel-settings='{"responsive":{"0":{"items":1,"nav":true, "dots":false}}}'>
                  <img src="assets/img/styleguide.jpg" alt="Project 1" class="img-fluid" />
                  <img src="assets/img/colorguide.jpg" alt="Project 2" class="img-fluid" />
                  <img src="assets/img/nomenclature.jpg" alt="Project 3" class="img-fluid" />
                  <img src="assets/img/typography.jpg" alt="Project 4" class="img-fluid" />
               </div>
            </div>

            <div class="col-lg-6 order-lg-12 order-1 d-sm-flex align-content-center d-flex">
               <div class="mr-auto py-0 my-3 my-md-0 ">
                  <h2 class="display-4 roboto-thin mt-3 mt-lg-0 py-0">
                     Branding and Style
                  </h2>
                  <p class="line-height-30 py-md-2 op-7 mt-4">
                     Work with us to discover your product's style and unleash it to the world.
                     Keeping your brand consistent across platforms and media is key. We'll
                     develop a tailored style and branding guide for your website and marketing
                     material.
                  </p>
                  <p class="line-height-30 py-md-2 op-7 mt-2">
                     With these tools you'll be able to give your team the color palette and
                     typography to use on all printed material and website along with logo usage,
                     placement, and variation guidelines.
                  </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-12">
               <p>
                  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- hor-1 -->
                  <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-5904710579836948"
                     data-ad-slot="7169108385" data-ad-format="auto" data-full-width-responsive="true"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>

<div id="about" class="py-md-6 my-6 bg-white">
   <div class="bg-op-5 bg-white ">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 mt-4 order-lg-1 order-12">
               <img class="card-img-top img-fluid" src="assets/img/spacex.jpg" alt="Card image cap">
               <small>Photo by <a target="_blank" href="https://unsplash.com/@spacex">@spacex</a>
                           on <a target="_blank" href="https://unsplash.com">Unsplash</a></small>
            </div>
            <div class="col-lg-6 order-lg-12 order-1 d-sm-flex align-content-center d-flex">
               <div class="mr-auto py-0 my-3 my-md-0 ">
                  <h2 class="display-4 roboto-thin mt-3 mt-lg-0 py-0">
                     Our Vision
                  </h2>
                  <p class="line-height-30 py-md-2 op-7 mt-4">
                     Headquartered along the Space Coast in Melbourne, Florida, our lean team of
                     engineers keep things focused. We don't believe productivity is limited to an
                     office of cubicles. We seek those who enjoy living life while making a living.
                  </p>
                  <p class="py-md-2 op-7"> We work diligently to understand our clients
                     requirements and ensure we produce technical solutions of the highest quality.
                     Our engineering team specializes in product development through modern mobile,
                     web, and cloud technologies. We strive to capture your vision and produce real
                     results.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>