<section id="contact" class="contact-footer my-5 mt-lg-6">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="border-primary">
         </div>
         <div class="col-lg-10 offset-lg-1 text-center">
            <p>Have any questions or comments? Want to talk about your next project or adventure?
               Drop me a line and I'll get back to you as soon as possible!</p>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 text-center">
            <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
               <i class="fab fa-twitter fa-3x"></i>
               <p>{{ site.twitter_username }}</p>
            </a>
         </div>
         <div class="col-sm-4 text-center">
            <a target="_blank" href="https://t.co/8fcI5ERmg9?amp=1">
               <i class="fab fa-discord fa-3x"></i>
               <p>Discord server</p>
            </a>
         </div>
         <div class="col-sm-4 text-center">
            <a target="_blank" href="https://github.com/BatteryAcid/feedback/issues/new">
               <i class="fab fa-github fa-3x"></i>
               <p>Leave me some feedback</p>
            </a>
         </div>
      </div>
      <div class="row mt-6">
         <div class="col-lg-6 text-center">
            <a class="twitter-timeline" data-width="600" data-height="500" data-theme="light"
               data-link-color="#19CF86" href="https://twitter.com/BatteryAcidDev&ref_src=twsrc%5Etfw">Tweets
               by BatteryAcidDev</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
         </div>
         <div class="col-lg-6 text-center">
            <iframe src="https://discordapp.com/widget?id=724813552837459998&theme=dark" width="400"
               height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
         </div>
      </div>
   </div>
</section>