<!-- ======== @Region: #header ======== -->
<div id="header">
   <div data-toggle="sticky">

      <!--Header & Branding region-->
      <div class="header header-dark bg-dark border-primary border-op-4 sticky-bg-dark">
         <div class="header-inner container">
            <div class="header-brand">
               <a class="header-brand-text" href="/" title="Home">
                  <h1 class="h2">
                <span class="header-brand-text-alt">FS</span>
              </h1>
               </a>
               <div class="header-divider d-none d-lg-block"></div>
               <div class="header-slogan d-none d-lg-block">@BatteryAcidDev</div>
            </div>

            <div class="header-block d-flex order-12 align-items-center">
               <a href="#top" class="btn btn-icon btn-white ml-2 order-12 d-lg-none" data-toggle="off-canvas"
                  data-target=".navbar-main" data-settings='{"cloneTarget":true, "targetClassExtras": "navbar-offcanvas"}'>
                  <i class="fa fa-bars"></i> </a>
            </div>

            <div class="navbar navbar-expand-md navbar-static-top">
               <div class="navbar-main collapse ">
                  <ul class="nav navbar-nav navbar-dark">
                     <li class="nav-item"></li>
                     <li class="nav-item">
                        <a href="#contact" data-toggle="scroll-link" data-dimiss="jpanel-menu"
                           class="nav-link link-effect-slideup">
                           <span class="nav-link-inner" data-title="Contact">Contact</span> </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>