<footer id="contact" class="py-4 pt-md-6 pb-md-10 bg-primary text-white">
   <div class="container text-center">
      <h2 class="display-4 my-0 font-weight-light text-font-alt">
        Have a Project?
      </h2>
      <p class="mt-md-0 lead ">Send us an email</p>
      <div class="row justify-content-around mb-6">
         <div class="col-md-4 mb-1 d-flex align-items-center justify-content-center footer-links"><i class="la la-envelope icon-2x mr-2"></i> support@fractalstack.com
         </div>
      </div>
      <!-- <div class="text-center">
         <h6 class="font-weight-normal mb-2 mt-0 text-white text-uppercase text-letter-spacing">
          Find us on social media:
        </h6>
         <a href="#" class="btn-icon btn btn-xlg text-white"><i class="fab fa-lg fa-youtube"></i></a>
         <a href="#" class="btn-icon btn btn-xlg text-white"><i class="fab fa-lg fa-facebook"></i></a>
         <a href="#" class="btn-icon btn btn-xlg text-white"><i class="fab fa-lg fa-instagram"></i></a>
      </div> -->
   </div>
</footer>

<!--Hidden elements - excluded from jPanel Menu on mobile-->
<div class="hidden-elements js-off-canvas-exclude"></div>