<!-- ======== @Region: #highlighted ======== -->
<div id="highlighted" class="bg-black pos-md-relative">
   <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height add the attributes: data-toggle="full-height" data-offset="#header" -->
   <div class="overlay overlay-op-3 text-left" data-animate="fadeIn" data-bg-img="assets/img/index-technology/sky.jpg">
      <div data-toggle="full-height" class="container px-md-3 py-5 py-sm-5 pt-md-6 py-md-5 flex-valign text-white ">
         <h2 class="display-3 font-weight-bold mt-8 mt-lg-7 my-md-0">
          Work Smarter
        </h2>
         <h2 class="display-4 font-weight-normal">
          Technology Done Faster
        </h2>
         <p class="lead my-md-4 w-md-50">At <strong>Fractal Stack</strong> we'll help make your vision a reality!</p>
         <div>
            <a href="#about" data-scroll-link-nooffset=true data-toggle="scroll-link" data-animate-delay="0.6"><i class="icon-3x ion-ios-play-outline"></i></a>
         </div>
      </div>
   </div>
</div>