.hero-page {
   height: 380px;
}

.contact-footer {
   min-height: 500px;
   position: relative;
   bottom: 0;
   width: 100%;
}

.primary-left-border {
   border-left: 2px solid #2ECC71;
}

@media (min-width: 768px) {

   .hero-page {
      height: 200px;
   }
}