<!DOCTYPE html>
<html lang="en">

   {% include dl-head.html %}

   <body class="page page-onepager header-ontop navbar-layout-default">
      <!-- @plugin: page loading indicator, delete to remove loader -->
      <div class="page-loader" data-toggle="page-loader"></div>

      <a href="#content" id="top" class="sr-only">Skip to content</a>

      {% include dl-nav-page.html %}

      <div id="highlighted">
         <div class="hero-page bg-white overlay overlay-primary overlay-op-6 text-center px-3 py-5 py-md-10 flex-valign"
            data-bg-img="{{'/assets/img/dl-header.jpg' | absolute_url }}" data-css='{"background-position": "center bottom","background-attachment": "fixed"}'>
            <h1 class="mt-6 text-white" data-animate="fadeIn" data-animate-delay="0.2">
            {{page.title}}
            </h1>
            <p class="text-white">{{page.desc}}</p>
         </div>
      </div>

      {{ content }}
      {% include dl-contact.html %}
      {% include dl-scripts.html %}

   </body>

</html>