<!DOCTYPE html>
<html lang="en">

   {% include head.html %}

   <body class="page header-ontop text-font-alt page-index-technology navbar-layout-default" data-colour-scheme="blue">
      <!-- @plugin: page loading indicator, delete to remove loader -->
      <div class="page-loader" data-toggle="page-loader"></div>

      {% include nav.html %} 
      {% include highlighted.html %} 
      {% include content.html %} 
      {% include footer.html %}
      {% include scripts.html %}
      
   </body>

</html>