<!DOCTYPE html>
<html lang="en">


   {% include head.html %}

   <body class="page page-index navbar-layout-default">
      <!-- @plugin: page loading indicator, delete to remove loader -->
      <div class="page-loader" data-toggle="page-loader"></div>

      <a id="#top" href="#content" class="sr-only">Skip to content</a>

      {% include nav.html %} 
      {% include highlighted.html %} 
      {% include content.html %} 
      {% include content-below.html %} 
      <!-- {% include call-to-action.html %} -->
      {% include footer.html %}
      {% include scripts.html %}

      
   </body>

</html>